{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            {#            <div class="card-header">#}
            {#              <h3 class="card-title">Bordered Table</h3>#}
            {#            </div>#}
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style="width: 10px">ID</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th style="width: 40px">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td colspan="100%"><a href="{% url 'adminka:product_create' %}">Создать</a></td>
                </tr>
                {% for obj in products_list %}
                  <tr {% if not obj.is_active %}class="opacity-50"{% endif %}>
                    <td>{{ obj.id }}</td>
                    <td><a href="{% url 'adminka:product_update' obj.id %}">{{ obj.name }}</a></td>
                    <td>{{ obj.category.name }}</td>
                    <td>{{ obj.quantity }}</td>
                    <td>{{ obj.price }}</td>
                    <td>
                      <a href="{% url 'adminka:product_delete' obj.pk %}"><i class="fas fa-times-circle" style="color: Tomato;"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                {% if products_list.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% url 'adminka:products_read' 0 products_list.previous_page_number %}">«</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ products_list.number }}/{{ products_list.paginator.num_pages }}</a></li>
                {% if products_list.has_next %}
                  <li class="page-item"><a class="page-link" href="{% url 'adminka:products_read' 0 products_list.next_page_number %}">»</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
{% endblock %}